.section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1.5rem;
}
.hero {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: relative;
}
.hero h1 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  z-index: 1;
}
.hero figure {
  position: relative;
  padding: 0;
  margin: 0;
  width: 190px;
  height: 190px;
  border-radius: 50%;
  overflow: hidden;
}

.shadow {
  position: absolute;
  top: 42%;
  left: 50%;
  /* top: -5px; */
  /* left: -4px; */
  /* right: 0; */
  width: 200px;
  height: 200px;
  z-index: 0;
  background-image: linear-gradient( -45deg, #e0be58 50%, #0099ff 50% );
  border-radius: 50%;
  transform: scale(1);
  filter: blur(80px);
  transform: translate(-50%,-50%);
  transition: transform 0.2s ease-out;
}
