.section, .sectionFeatures, .sectionSkills, .sectionAboutme {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.section {
  padding: 2.5rem 1.5rem;
}

.sectionFeatures {
  padding: 0 1.5rem;
}

.sectionAboutme {
  padding: 5.5rem 1rem;
  border-top: 1px solid var(--po-divider-light-1);
}

.sectionAboutme a {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--po-indigo);
  padding: 1rem;
  border-radius: 1rem;
  color: #FFFFFF;
  position: relative;
  overflow: hidden;
  filter: drop-shadow(0 20px 25px rgb(0 0 0 / 0.15));
  max-width: 700px;
}

.sectionAboutme a:hover {
  background-color: var(--po-indigo-hover);
  cursor: pointer;
}

.sectionAboutme a:hover > .aboutmePointer {
  transform: translate(0rem, 2rem);
}

.aboutmePointer {
  background: url('https://adventjs.dev/pointer.png') no-repeat center / contain;
  width: 70px;
  height: 70px;
  position: absolute;
  bottom: 0rem;
  right: 0rem;
  transform: translate(2.5rem, 2rem);
  transition: transform 0.3s ease-in-out;
}


.aboutmeImg, .aboutmeText {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.aboutmeImg figure {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  height: 120px;
  width: 120px;
  margin: 0;
}

.sectionAboutme h3 {
  text-align: center;
  font-size: 2rem;
}

.sectionAboutme p {
  font-size: 1.1rem;
  margin: 0;
  line-height: 1.3;
}

.sectionSkills {
  padding: 5.5rem 1.5rem;
  margin-top: 6.5rem;
  border-top: 1px solid var(--po-divider-light-1);
}

.hero {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
}

.hero figure {
  position: relative;
  padding: 0;
  margin: 0;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.301);
}

.shadow {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  z-index: 0;
  background-image: linear-gradient( -45deg, var(--po-gradient-1) 50%, var(--po-gradient-2) 50% );
  border-radius: 50%;
  transform: scale(1) translate(-50%,-50%);
  filter: blur(55px);
  opacity: 0.7;
  transition: transform 0.2s ease-out;
}
.heroContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.heroContent p, .heroContent h2 {
  max-width: 380px;
}
.meTitle {
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  line-height: 1;
  z-index: 1;
  letter-spacing: -1.7px;
  background: -webkit-linear-gradient(120deg, var(--po-gradient-1) 30%, var(--po-gradient-2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
}
.clip::selection {
  background: var(--po-bg-4);
  color: #fff;
  -webkit-text-fill-color: #000;
}
.heroContent p {
  font-size: 1.9rem;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  padding: 0;
  margin: 0;
  letter-spacing: -0.4px;
  z-index: 1;
}
.js {
  background-color: #ead41c;
  color: #000;
}

.lover {
  visibility: hidden;
  display: none;
  margin-left: 0.5rem;
}
.tagline {
  color: var(--po-text-2);
  text-align: center;
  font-size: 1.15rem;
  font-weight: 500;
  margin-top: 1rem;
  line-height: 1.4;
}

.actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0 0;
  z-index: 1;
}

.actions a {
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: -0.6px;
  line-height: 1.3;
  padding: 0.5rem 1.5rem;
  border-radius: 1.5rem;
  border: 1px solid var(--po-divider-light-1);
}
.actionExtra {
  background-color: var(--po-bg-1);
  color: var(--po-text-1);
  transition: all 0.2s ease-out;
}
.actionExtra:hover {
  filter: drop-shadow(0 4px 10px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 10px rgba(61, 61, 61, 0.1));
  background-color: var(--po-bg-3);
}

.action {
  background-color: var(--po-indigo);
  color: var(--po-white);
  transition: all 0.2s ease-out;
}

.action:hover {
  background-color: var(--po-indigo-hover);
  filter: drop-shadow(0 4px 10px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 10px rgba(61, 61, 61, 0.1));
}

@media screen and (min-width: 480px) {
  .sectionAboutme a {
    flex-direction: row;
    padding: 2rem 1.5rem;
  }

  .sectionAboutme figure {
    width: 150px;
    height: 150px;
  }

  .aboutmeImg {
    width: 70%;
  }
}

@media screen and (min-width: 640px) {
  .section {
    padding: 4rem 3rem;
  }
  .sectionFeatures {
    padding: 0 3rem;
  }
  .sectionSkills, .sectionAboutme {
    padding: 5.5rem 1.5rem;
  }
  .hero figure {
    min-width: 230px;
    min-height: 230px;
  }
  .shadow {
    width: 290px;
    height: 290px;
  }
  .meTitle {
    font-size: 3rem;
  }
  .lover {
    visibility: visible;
    display: inline-block;
  }
  .heroContent p {
    font-size: 3rem;
  }
  .tagline {
    font-size: 1.4rem;
  }
  .heroContent p, .heroContent h2 {
    min-width: 500px;
    max-width: 570px;
  }

  .sectionAboutme a {
    flex-direction: row;
    padding: 3rem 2rem;
  }

  .sectionAboutme a:hover > .aboutmePointer {
    transform: translate(-1rem, 0rem);
  }

  .sectionAboutme figure {
    width: 200px;
    height: 200px;
  }

  .aboutmeImg {
    width: 50%;
  }
}

@media screen and (min-width: 960px) {
  .section {
    flex-direction: row;
    margin: 0 auto;
    padding: 6rem 6rem 4rem;
  }
  .sectionFeatures {
    padding: 0 6rem;
  }
  .sectionSkills, .sectionAboutme {
    padding: 5.5rem 2rem;
  }
  .hero {
    order: 2;
  }
  .hero figure {
    width: 280px;
    height: 280px;
  }
  .shadow {
    width: 380px;
    height: 380px;
    filter: blur(80px);
  }
  .meTitle {
    font-size: 3.5rem;
  }
  .js {
    background-color: transparent;
    color: #ead41c;
    min-height: 10px;
  }

  .heroContent {
    order: 1;
    align-items: flex-start;
  }
  .heroContent p, .tagline {
    text-align: start;
  }
  .heroContent p {
    font-size: 3.5rem;
  }
  .tagline {
    font-size: 1.7rem;
    margin-top: 0.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 8rem 6rem 4rem;
  }
  .sectionFeatures {
    padding: 0 6rem;
  }
    .sectionSkills,
    .sectionAboutme {
    padding: 5.5rem 6rem;
  }
  .heroContent p, .heroContent h2 {
    min-width: 680px;
    max-width: 680px;
  }
}
